@model FormularioProposta.Models.Proposta

@{
    ViewData["Title"] = "Create";
}



<div class="row mt-2">
    <div class="col-12 text-center">
        <h2>Contato</h2>

        <h6>Tire sua dúvida com um de nossos consultores</h6>

        <hr />
    </div>
</div>
<div class="row" style="display: flex;width: 100%;justify-content: center;">

    <div class="col-sm-12 col-md-6 col-xl-6 d-xl-flex d-md-flex d-none m-0 text-center" style="display: flex;width: 100%;justify-content: center;">

        <img src="~/images/consultoriamarant.png" alt="Consultoria Marant" class="img-fluid" />

    </div>

    <div class="col-sm-12 col-md-5 col-xl-5 p-3">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label">Nome</label>
                <input asp-for="NomeCliente" type="text" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" type="text" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label">E-mail</label>
                <input asp-for="EmailCliente" type="email" class="form-control" />
                <span asp-validation-for="EmailCliente" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="ValorRenda" class="control-label">Renda Mensal</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" asp-for="ValorRenda" class="form-control text-right p-2" aria-label="Amount">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>

                        </div>
                    </div>
                </div>
                <span asp-validation-for="ValorRenda" class="text-danger"></span>
            </div>

                      <div class="form-group">
                <label asp-for="Mensagem" class="control-label">Mensagem</label>
                <textarea rows="3" asp-for="Mensagem" class="form-control"></textarea>
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>

    </div>

</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5511981720377" style="position:fixed;width:60px;height:60px;bottom:110px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
  z-index:1000;" target="_blank">
    <i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

